@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins-reg";
  src: url("../src/assets/fonts/Poppins-Regular.ttf");
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #475569 #111827;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #111827;
}

*::-webkit-scrollbar-thumb {
  background-color: #475569;
  border-radius: 0px;
  border: 0px inset #111827;
}
